/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d29494;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #dfcece;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid black;
}

h1 {
  text-align: center;
  color: #333;
  border: 2px solid black;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 15%;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  margin-left: 10px;
}

@media (max-width: 500px) {
  .input-container {
      flex-direction: column;
  }

  input[type="text"], button {
      width: 100%;
      margin-bottom: 10px;
  }
}
